In [1]:
import pandas as pd

In [2]:
# last block 8751002
# 
# next block 8751003
#

In [3]:
# last order book before block 8751003
data = {"lastUpdateId": 37100665, "bids": [["0.88500000", "512.85000000"], ["0.88400000", "1685.41000000"], ["0.88300000", "2346.80000000"], ["0.88200000", "1800.04000000"], ["0.88100000", "1604.43000000"], ["0.88000000", "1417.84000000"], ["0.87900000", "59581.78000000"], ["0.87800000", "5956.70000000"], ["0.87700000", "8533.32000000"], ["0.87600000", "5829.77000000"], ["0.87500000", "9531.54000000"], ["0.87400000", "389.09000000"], ["0.87300000", "1872.47000000"], ["0.87200000", "596.33000000"], ["0.87100000", "2746.19000000"], ["0.87000000", "1364.11000000"], ["0.86900000", "1710.14000000"], ["0.86800000", "1017.46000000"], ["0.86700000", "25.44000000"], ["0.86600000", "577.37000000"]], "asks": [["0.88600000", "119.97000000"], ["0.88700000", "2520.97000000"], ["0.88800000", "6862.83000000"], ["0.88900000", "3859.50000000"], ["0.89000000", "2051.45000000"], ["0.89100000", "22563.99000000"], ["0.89200000", "3002.28000000"], ["0.89300000", "561.80000000"], ["0.89400000", "2880.73000000"], ["0.89500000", "10328.47000000"], ["0.89600000", "1468.95000000"], ["0.89700000", "2020.84000000"], ["0.89800000", "392.34000000"], ["0.89900000", "558.04000000"], ["0.90000000", "1176.46000000"], ["0.90100000", "483.50000000"], ["0.90200000", "1771.15000000"], ["0.90300000", "23.23000000"], ["0.90400000", "1216.03000000"], ["0.90500000", "568.95000000"]], "time": "2023-03-17 21:28:23.209057"}

In [19]:
data['bids']

[['0.88500000', '512.85000000'],
 ['0.88400000', '1685.41000000'],
 ['0.88300000', '2346.80000000'],
 ['0.88200000', '1800.04000000'],
 ['0.88100000', '1604.43000000'],
 ['0.88000000', '1417.84000000'],
 ['0.87900000', '59581.78000000'],
 ['0.87800000', '5956.70000000'],
 ['0.87700000', '8533.32000000'],
 ['0.87600000', '5829.77000000'],
 ['0.87500000', '9531.54000000'],
 ['0.87400000', '389.09000000'],
 ['0.87300000', '1872.47000000'],
 ['0.87200000', '596.33000000'],
 ['0.87100000', '2746.19000000'],
 ['0.87000000', '1364.11000000'],
 ['0.86900000', '1710.14000000'],
 ['0.86800000', '1017.46000000'],
 ['0.86700000', '25.44000000'],
 ['0.86600000', '577.37000000']]

In [30]:
bid_levels = pd.DataFrame(data['bids'], columns = ['price', 'quantity'], dtype=float)
bid_levels['side'] = "bid"
bid_levels

    price  quantity side
0   0.885    512.85  bid
1   0.884   1685.41  bid
2   0.883   2346.80  bid
3   0.882   1800.04  bid
4   0.881   1604.43  bid
5   0.880   1417.84  bid
6   0.879  59581.78  bid
7   0.878   5956.70  bid
8   0.877   8533.32  bid
9   0.876   5829.77  bid
10  0.875   9531.54  bid
11  0.874    389.09  bid
12  0.873   1872.47  bid
13  0.872    596.33  bid
14  0.871   2746.19  bid
15  0.870   1364.11  bid
16  0.869   1710.14  bid
17  0.868   1017.46  bid
18  0.867     25.44  bid
19  0.866    577.37  bid

In [5]:
ask_levels = pd.DataFrame(data['asks'], columns = ['price', 'quantity'], dtype=float)
ask_levels['ask'] = "ask"
ask_levels

    price  quantity  ask
0   0.886    119.97  ask
1   0.887   2520.97  ask
2   0.888   6862.83  ask
3   0.889   3859.50  ask
4   0.890   2051.45  ask
5   0.891  22563.99  ask
6   0.892   3002.28  ask
7   0.893    561.80  ask
8   0.894   2880.73  ask
9   0.895  10328.47  ask
10  0.896   1468.95  ask
11  0.897   2020.84  ask
12  0.898    392.34  ask
13  0.899    558.04  ask
14  0.900   1176.46  ask
15  0.901    483.50  ask
16  0.902   1771.15  ask
17  0.903     23.23  ask
18  0.904   1216.03  ask
19  0.905    568.95  ask

In [6]:
# on block 8751002
USDC_balance = 10325108396381
# OSMO
OSMO_balance = 12162039269012
weight = 536870912000000
swap_fee = 0.002000000000000000

In [10]:
osmosis_price = USDC_balance / OSMO_balance
osmosis_price

0.8489619354123147

In [11]:
# on Binance: if we take the price of deepest liquidity layers on both sides as our bid/ask price
ask_price = 0.891
bid_price = 0.879

In [12]:
# check:
# if ask_price < Osmosis
#     buy on Binance and sell on Osmosis
# if bid_price > Osmosis
#     buy on Osmosis and sell on Binance

# else:
# continue

In [13]:
# check how much we can trade on osmosis to move the price even
balanceIn = USDC_balance
balanceOut = OSMO_balance
sp_now = balanceIn / balanceOut
sp_now
sp_goal = osmosis_price
sp_goal
weightIn = 536870912000000
weightOut = 536870912000000

In [24]:
def calculate_max_osmo(size, bids):
    # trades on each layer
    osmo_amount = 0
    for i in range(len(bids)):
        price = float(bids[i][0])
        depth = float(bids[i][1])
        if size > depth:
            size -= depth
            osmo_amount += depth / price
        else:
            osmo_amount += size / price
    return osmo_amount

In [25]:
bids = data['bids']
bids

[['0.88500000', '512.85000000'],
 ['0.88400000', '1685.41000000'],
 ['0.88300000', '2346.80000000'],
 ['0.88200000', '1800.04000000'],
 ['0.88100000', '1604.43000000'],
 ['0.88000000', '1417.84000000'],
 ['0.87900000', '59581.78000000'],
 ['0.87800000', '5956.70000000'],
 ['0.87700000', '8533.32000000'],
 ['0.87600000', '5829.77000000'],
 ['0.87500000', '9531.54000000'],
 ['0.87400000', '389.09000000'],
 ['0.87300000', '1872.47000000'],
 ['0.87200000', '596.33000000'],
 ['0.87100000', '2746.19000000'],
 ['0.87000000', '1364.11000000'],
 ['0.86900000', '1710.14000000'],
 ['0.86800000', '1017.46000000'],
 ['0.86700000', '25.44000000'],
 ['0.86600000', '577.37000000']]

In [26]:
print(calculate_max_osmo(200, bids))

4338.301634115502

In [29]:
1000 / 0.885

1129.9435028248588