In [2]:
import pandas as pd

In [1]:
# last block 8750525
# 20:43:07.05
# next block 8750526
# 20:43:13.24

In [5]:
# last order book before block 8750526
data = {"lastUpdateId": 37092906, "bids": [["0.87900000", "704.54000000"], ["0.87800000", "3329.31000000"], ["0.87700000", "3235.82000000"], ["0.87600000", "901.66000000"], ["0.87500000", "8657.04000000"], ["0.87400000", "43741.62000000"], ["0.87300000", "6612.27000000"], ["0.87200000", "22866.07000000"], ["0.87100000", "1719.35000000"], ["0.87000000", "7119.29000000"], ["0.86900000", "2503.08000000"], ["0.86800000", "9638.15000000"], ["0.86700000", "222.60000000"], ["0.86600000", "1706.54000000"], ["0.86300000", "59.69000000"], ["0.86200000", "874.89000000"], ["0.86100000", "177.12000000"], ["0.86000000", "2212.04000000"], ["0.85800000", "2094.72000000"], ["0.85700000", "64.14000000"]], "asks": [["0.88100000", "1149.45000000"], ["0.88200000", "1069.78000000"], ["0.88300000", "3634.90000000"], ["0.88400000", "19111.75000000"], ["0.88500000", "9478.02000000"], ["0.88600000", "2155.99000000"], ["0.88700000", "565.41000000"], ["0.88800000", "10739.45000000"], ["0.88900000", "2455.52000000"], ["0.89000000", "1354.88000000"], ["0.89100000", "805.17000000"], ["0.89200000", "3312.90000000"], ["0.89300000", "2221.77000000"], ["0.89400000", "1215.53000000"], ["0.89500000", "791.67000000"], ["0.89600000", "622.80000000"], ["0.89700000", "276.93000000"], ["0.89800000", "375.62000000"], ["0.89900000", "1687.21000000"], ["0.90000000", "406.79000000"]], "time": "2023-03-17 20:43:13.174453"}

In [8]:
bid_levels = pd.DataFrame(data['bids'], columns = ['price', 'quantity'], dtype=float)
bid_levels['side'] = "bid"
bid_levels

    price  quantity side
0   0.879    704.54  bid
1   0.878   3329.31  bid
2   0.877   3235.82  bid
3   0.876    901.66  bid
4   0.875   8657.04  bid
5   0.874  43741.62  bid
6   0.873   6612.27  bid
7   0.872  22866.07  bid
8   0.871   1719.35  bid
9   0.870   7119.29  bid
10  0.869   2503.08  bid
11  0.868   9638.15  bid
12  0.867    222.60  bid
13  0.866   1706.54  bid
14  0.863     59.69  bid
15  0.862    874.89  bid
16  0.861    177.12  bid
17  0.860   2212.04  bid
18  0.858   2094.72  bid
19  0.857     64.14  bid

In [7]:
ask_levels = pd.DataFrame(data['asks'], columns = ['price', 'quantity'], dtype=float)
ask_levels['ask'] = "ask"
ask_levels

    price  quantity  ask
0   0.881   1149.45  ask
1   0.882   1069.78  ask
2   0.883   3634.90  ask
3   0.884  19111.75  ask
4   0.885   9478.02  ask
5   0.886   2155.99  ask
6   0.887    565.41  ask
7   0.888  10739.45  ask
8   0.889   2455.52  ask
9   0.890   1354.88  ask
10  0.891    805.17  ask
11  0.892   3312.90  ask
12  0.893   2221.77  ask
13  0.894   1215.53  ask
14  0.895    791.67  ask
15  0.896    622.80  ask
16  0.897    276.93  ask
17  0.898    375.62  ask
18  0.899   1687.21  ask
19  0.900    406.79  ask

In [9]:
# on block 8750525
# 20:43:07.05
# USDC
USDC_balance = 10538389100955
# OSMO
OSMO_balance = 11955952342952
weight = 536870912000000
swap_fee = 0.002000000000000000

In [ ]:
sp =