In [2]:
import pandas as pd

In [16]:
df = pd.read_excel('one_block.xlsx')

In [17]:
print(df.columns)

Index(['Unnamed: 0', 'Price', 'Volume', 'Unnamed: 3', 'Unix timestamp',
       'height', 'Osmosis Price', 'Difference'],
      dtype='object')

In [18]:
df = df [['Unix timestamp','height','Volume','Price','Osmosis Price']]
print(df)

      Unix timestamp  height  Volume  Price  Osmosis Price
0      1666951200000  663954    9.62  1.040          1.732
1      1666951200003  663954    7.67  1.788          1.732
2      1666951200005  663954   13.98  1.788          1.732
3      1666951200009  663954  313.19  1.788          1.732
4      1666951200011  663954  175.39  1.788          1.732
...              ...     ...     ...    ...            ...
3562   1666951208994  663954   63.40  1.567          1.732
3563   1666951208994  663954  185.37  1.567          1.732
3564   1666951208994  663954  899.25  1.566          1.732
3565   1666951208997  663954    6.88  1.586          1.732
3566   1666951208997  663954   19.38  1.586          1.732

[3567 rows x 5 columns]

In [19]:
df ['difference'] = df['Price'] - df['Osmosis Price']

In [20]:
print(df)

      Unix timestamp  height  Volume  Price  Osmosis Price  difference
0      1666951200000  663954    9.62  1.040          1.732      -0.692
1      1666951200003  663954    7.67  1.788          1.732       0.056
2      1666951200005  663954   13.98  1.788          1.732       0.056
3      1666951200009  663954  313.19  1.788          1.732       0.056
4      1666951200011  663954  175.39  1.788          1.732       0.056
...              ...     ...     ...    ...            ...         ...
3562   1666951208994  663954   63.40  1.567          1.732      -0.165
3563   1666951208994  663954  185.37  1.567          1.732      -0.165
3564   1666951208994  663954  899.25  1.566          1.732      -0.166
3565   1666951208997  663954    6.88  1.586          1.732      -0.146
3566   1666951208997  663954   19.38  1.586          1.732      -0.146

[3567 rows x 6 columns]

In [26]:
arbitrages = df['difference'][df['difference'] > 0.01]
print(arbitrages)

1       0.056
2       0.056
3       0.056
4       0.056
6       0.056
        ...
1575    0.018
1576    0.018
1577    0.018
1578    0.018
1579    0.017
Name: difference, Length: 762, dtype: float64

In [27]:
block_mev = arbitrages.sum()
print(block_mev)

18.23700000000002